@import "tailwindcss";
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.fade-slide {
  animation: fadeSlide 1s ease-out forwards;
}
