# Ignore frontend and backend node_modules from root perspective
/frontend/node_modules/
/backend/node_modules/

# Logs
*.log
logs/

# Env files
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Build folders
/frontend/build/
/backend/dist/
