# Ignore frontend & backend node_modules
client/node_modules/
Server/node_modules/

# Ignore environment files
Server/.env
client/.env

# Logs
*.log
logs/

# Build folders
client/build/
Server/dist/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
