# Server Configuration
PORT=5000
MONGODB_URI=mongodb://localhost:27017/codecraft_kids
JWT_SECRET=your_super_secret_key_here
mongodb+srv://rahatfarabi933_db_user:farabi123@cluster0.zh5mrjx.mongodb.net/?appName=Cluster0

# Frontend Configuration (if needed)
# VITE_API_URL=http://localhost:5000/api
